$background-color: #f8f8f8;
$bold-font-weight: bold;
$section-title-font-size: 36px;
$section-title-color: #333;
$section-title-p-font-size: 18px;
$section-title-p-color: #666;
$product-flters-li-font-size: 18px;
$product-flters-li-color: #333;
$base-product-font-size: 6px;