@import "product-variable";

#product {
  background-color: $background-color;
}

.bold {
  font-weight: $bold-font-weight;
}

.section-title h2 {
  font-size: $section-title-font-size;
  color: $section-title-color;
}

.section-title p {
  font-size: $section-title-p-font-size;
  color: $section-title-p-color;
}

#product-flters li {
  font-size: $product-flters-li-font-size;
  color: $product-flters-li-color;
}
