@import "product-variable";

$i: 1;
@while $i <= 4 {
  .product-text-style-#{$i} {
    font-size: $base-product-font-size * $i !important;
  }
  $i: $i + 1;
}


#product {
  background-color: $background-color;
}

.bold {
  font-weight: $bold-font-weight;
}

.section-title h2 {
  font-size: $section-title-font-size;
  color: $section-title-color;
}

.section-title p {
  font-size: $section-title-p-font-size;
  color: $section-title-p-color;
}

#product-flters li {
  font-size: $product-flters-li-font-size;
  color: $product-flters-li-color;
}
