@import "service-variable";

.section-heading {
    font-size: $font-size-heading;
    margin-bottom: $margin-service;
    color: $text-color; 
}
  
.section-deskripsi {
    font-size: $font-size-deskripsi;
    margin-bottom: $margin-service;
    color: $text-color; 
}
