$font-family: Arial, sans-serif; 
$font-size: 10px; 
$font-color: #333; 

#testimonial {
  font-family: $font-family; 
  
  .name {
    font-size: $font-size; 
    color: $font-color; 
  }

  .coment {
    font-size: $font-size; 
    color: $font-color; 
  }

}

