//SASS by Saiful
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swa');

$font_h1: 'Young Serif', serif;
$font_p:  'Lobster', cursive;
$fontsize_h1: 60px;
$fontsize_p: 28px;

@function get-h1-font() {
  @return $font_h1;
}

@function get-p-font() {
  @return $font_p;
}

@function get-h1-font-size() {
  @return $fontsize_h1;
}

@function get-p-font-size() {
  @return $fontsize_p;
}

.hero h1 {
  font-family: get-h1-font();
  font-size: get-h1-font-size();
}

.hero p {
  font-family: get-p-font();
  font-size: get-p-font-size();
}
