/* ini awal dari style modal */

#open-modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffc107; 
  color: white; 
  border: none;
  border-radius: 50%; 
  width: 60px; 
  height: 60px; 
  font-size: 20px; 
  cursor: pointer;
  z-index: 999; 
}

.modal-content {
  border: none;
}

.modal-header {
  border: none;
}

.modal-title {
  color: #ffc107;
  font-size: 24px;
}

.modal-body {
  text-align: center;
  padding: 20px;
}

#gambar-animasi {
  max-width: 100%;
  height: auto;
}

#teks-keuntungan {
  margin-top: 20px;
  color: #333;
  font-size: 18px;
}

#teks-keuntungan p {
  margin-bottom: 10px;
}

#teks-keuntungan ul {
  list-style-type: none;
  padding-left: 20px;
}

.modal-footer {
  border: none;
}

.modal-footer .btn-secondary {
  background-color: #333;
  color: white;
}

.modal-footer .btn-secondary:hover {
  background-color: #555;
}
/* ini akhir dari style modal */


/* ini awal dari style navbar */

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: white;
}

.navbar-brand {
  font-weight: bold;
  font-size: xx-large;
}

.navbar-toggler-icon {
  border: 2px solid #333;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  font-weight: bold;
  transition: color 0.3s ease-in-out; 
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffc107; 
}
/* ini Akhir dari style navbar */


/* ini Awal dari style hero */

.hero {
  background-image: url('../images/hero/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: left;
  padding: 150px 0;
  height: 60hv;
}

.hero h1 {
  font-size: 60px;
  color: #fff; 
  font-weight: bold;
}

#typing-text {
  display: inline;
}

#typing-text span {
  color: #ffc107; 
}

#cursor {
  color: white;
  animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

.hero p {
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 800px) {
            
  .hero h1 {
      font-size: 2rem;
  }

  .hero p {
      font-size: 1rem;
  }
  .navbar-brand {
      font-size: 1.5rem;
  }

  .navbar-toggler-icon {
      border: 2px solid #333;
  }
}

@media (max-width: 500px) {
            
  .hero h1 {
      font-size: 1.5rem;
  }

  .hero p {
      font-size: 1rem;
  }

  .navbar-brand {
      font-size: 1.5rem;
  }

  .navbar-toggler-icon {
      border: 2px solid #333;
  }
}
/* ini Akhir dari style hero */


/* ini Awal dari style About */

#about {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.italic-foreign {
  font-style: italic;
}

#about img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#about h1.section-heading {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

#about p.section-deskripsi {
  font-size: 20px;
  color: #666;
  line-height: 1.6;
}

@media (max-width: 991px) {
  #about .container {
    padding: 30px;
  }

  #about .col-lg-6 {
    text-align: center;
    margin-bottom: 30px;
  }

  #about img {
    max-width: 100%;
    height: auto;
  }

  #about .section-heading {
    font-size: 28px;
  }

  #about .section-deskripsi {
    font-size: 18px;
  }
}
/* ini Akhir dari style About */

/* ini Awal dari style sevice */

.services {
  padding: 80px 0;
}

.service-box {
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

.service-box i {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #ffc107;
}

.service-box h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box p {
  font-size: 18px;
  color: #777;
  line-height: 1.6;
}

.section-heading {
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
}

.section-deskripsi {
  font-size: 18px;
  margin-bottom: 30px;
  color: #333;
}
/* ini akhir dari style service */


/* ini Awal dari style product */

#product {
  background-color: #f8f8f8;
  padding: 80px 0;
}

.bold {
  font-weight: bold;
}

.section-title h2 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.section-title p {
  font-size: 18px;
  color: #666;
  text-align: center;
}

#product-flters {
  text-align: center;
  margin-top: 30px;
}

#product-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 0 15px;
  list-style: none;
  font-size: 18px;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

#product-flters li:hover {
  background-color: #333;
  color: #fff;
}

.product-container {
  margin-top: 30px;
}

.product-item {
  margin-bottom: 30px;
}

.product-wrap {
  position: relative;
}

.product-wrap figure {
  position: relative;
  overflow: hidden;
}

.product-wrap figure img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.product-wrap .product-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product-wrap .product-info h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-wrap .product-info p {
  font-size: 18px;
}

.product-wrap:hover .product-info {
  opacity: 1;
}

.product-wrap:hover figure img {
  transform: scale(1.1);
}
/* ini Akhir dari style Product */


/* ini awalan styele testimoni */
#testimonial {
  background-color: white;
  padding: 80px 0;
}

.slide-container{
max-width: 1120px;
width: 100%;
padding: 40px 0;
}
.slide-content{
margin: 0 40px;
overflow: hidden;
border-radius: 25px;
}
.card{
border-radius: 25px;
background-color: #FFF;
}
.image-content,
.card-content{
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 14px;
}
.image-content{
position: relative;
row-gap: 5px;
padding: 25px 0;
}
.overlay{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
border-radius: 25px 25px 90px 90px;
}
#overlay-1{
background-color: #1d259f;
}
#overlay-2{
background-color: #3da38d ;
}
#overlay-3{
background-color:#02a9f7;
}
#overlay-4{
background-color:  #745b81 ;
}
#overlay-5{
background-color:#e98585;
}
#overlay-6{
background-color:#cb75fd;
}
.overlay::before,
.overlay::after{
content: '';
position: absolute;
right: 0;
bottom: -40px;
height: 40px;
width: 40px;
background-color: #2ea6bc;
}
.overlay::after{
border-radius: 0 0 0 0;
background-color: #FFF;
}
.card-image{
position: relative;
height: 150px;
width: 150px;
border-radius: 50%;
background: #FFF;
padding: 3px;
}
.card-image .card-img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 4px solid #2ea6bc;
}
.name{
font-size: 18px;
font-weight: 500;
color: #333;
}
.description{
font-size: 14px;
color: #707070;
text-align: center;
}
.button{
border: none;
font-size: 16px;
color: #FFF;
padding: 8px 16px;
border-radius: 6px;
margin: 14px;
cursor: pointer;
transition: all 0.3s ease;
}

.button:hover{
background: #1f7a99;
}

.swiper-navBtn{
color: #fff;
transition: color 0.3s ease;
}
.swiper-navBtn:hover{
color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
font-size: 35px;
}
.swiper-button-next{
right: 0;
}
.swiper-button-prev{
left: 0;
}
.swiper-pagination-bullet{
background-color: #6E93f7;
opacity: 1;
}
.swiper-pagination-bullet-active{
background-color: #4070F4;
}

@media screen and (max-width: 768px) {
.slide-content{
margin: 0 10px;
}
.swiper-navBtn{
display: none;
}
}

/* ini akhir dari style testimoni */
.section-faq {
  font-size: 18px;
  margin-bottom: 30px;
  color: #333;
}
.h2 {
  text-align: center;
}

/* ini Awal dari style Footer */
footer {
  background-color: #000080d2;
}

.f-item-con {
  padding: 1.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
}

footer .app-name {
  color: white;
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.app-name .app-initial {
  color: var(--theme-col);
}

footer .app-info p {
  color: white;
  padding-left: 1.65rem;
}

footer .footer-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: white;
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  height: fit-content;
}

footer ul {
  padding-left: 1.75rem;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: .5rem;
}

footer ul li {
  margin: .25rem 0;
  cursor: pointer;
  color: #d4d4d4;
  width: fit-content;
}

footer ul li:hover {
  color: white;
}

footer .help-sec {
  grid-column-start: 2;
}

footer .cr-con {
  background-color: #000080;
  color: white;
  padding: 1rem 4rem;
  text-align: center;
}

.g-i-t {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.g-i-t form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

form .g-inp {
  padding: .25rem .5rem;
  font-size: 16px;
}

.g-inp textarea {
  height: 150px;
}

.f-btn {
  padding: .25rem 1rem;
  background-color: black;
  border-radius: .25rem;
  font-size: 16px;
  color: white;
  font-weight: 500;
  transition: background-color 0.3s ease; 
}

.f-btn:hover {
  background-color: #0055b3;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.social-links a {
  text-decoration: none;
  font-size: 24px;
  margin-right: 15px;
  color: #fff;
}

.social-links a:hover {
  color: #007bff;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(189, 189, 189);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

@media screen and (max-width: 800px) {
  .f-item-con {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .g-i-t {
      grid-column-start: auto;
      grid-row-start: auto;
      grid-row-end: auto;
  }
}

@media screen and (max-width: 580px) {
  .f-item-con {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-gap: 1rem;
      padding: 1rem;
  }

  .g-i-t {
      grid-column-start: auto;
      grid-row-start: auto;
      grid-row-end: auto;
  }
}

:root {
  --theme-col: #2dd9f0;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.button {
  align-items: center;
  background-image: linear-gradient(135deg, #2c2ce7 40%, #ff0000);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  width: 180px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  outline: 0;
}

.button:hover {
  outline: 4;
  transform: scale(.9);
  opacity: .75;
}
/* ini Akhir dari style Footer */
